<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm" (submit)="loginUser()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher" required>
          <mat-hint> Please enter your email!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" formControlName="passwordFormControl" [errorStateMatcher]="matcher" required>
          <mat-hint> Please enter your password!</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            minimum password length 6 now {{loginForm.get('passwordFormControl').errors?.minlength.actualLength}}
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-card-actions class="action">
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
          <button mat-raised-button color="primary" [routerLink]="['/auth']">Create/Register a user</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>
